{% extends 'layout/admin.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('admin_create_postCategory') }}">Ajouter</a>
    <br>
{#    {{ form_start(form) }}#}

{#    {{ form_end(form) }}#}
    {% for postCategory in postCategoryEntities %}
        <br>
        <table border="1">
            <tr>
    <th>{{ postCategory.name }}
        <a class="btn btn-danger d-flex justify-content-between" href="{{ path('admin_delete_postCategory', { 'id': postCategory.id}) }}" >Supprimer</a>
                <a class="btn btn-warning d-flex justify-content-between" href="{{ path('admin_edit_postCategory', { 'id': postCategory.id}) }}" >Modifier</a></th>
            </tr>
        </table>
        <br>
    {% endfor %}
{% endblock %}

{#href="{{ path('admin_delete_postCategory') }}"#}